html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body { 
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
} 
li { 
  list-style: none;
}
.header{
  background-image:url(https://www.pakutaso.com/shared/img/thumb/redstymtA014_TP_V.jpg);
  height:500px;
}
.header-logo{
  font-size:60px;
  color:white;
  padding:30px 50px;
}
.header-logo h1{
  font-size:30px;
  padding:30px 10px;
}

.main{
  padding: 100px 80px;
  font-size:25px;
}
.tocs1 {
  color:navy;
  border: solid 5px #AEFFBD ;
  background-color:#AEFFBD;
  box-shadow: 0 10px 10px rgba(5, 0, 0,0.5);
  border-radius: 15px;
  padding-right: 30px;
  max-width: 500px;
}
.aaa{
  font-size:30px;
}
.main-2{
  border-bottom: 2px solid #dee7ec;
  border-left:10px solid #6927FF;
  font-size:40px;
  padding-top:10px;
  padding-bottom: 10px;
  margin-bottom: 50px;
  background-color:;
}
p{
  font-size:25px;
}
.hitoshi{
  font-size:40px;
}
.hitoshi-2{
  font-size:40px;
}
.hitoshi-3{
  font-size:40px;
}
span{
  color:red;
}

.main-3{
  border-bottom: 2px solid #dee7ec;
  border-left:10px solid #6927FF;
  font-size: 40px;
  padding-top:100px;
  padding-bottom: 10px;
  margin-bottom: 50px;
  background-color:;
}



#page-top{
  width: 90px;
  height: 25px;
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  border: 3px solid #3f98ef;
  border-radius: 15px;
}
#page-top a{
  position: relative;
  display: block;
  width: 90px;
  height: 60px;
  text-decoration: none;
}
#page-top a::after{
  content: '↑PAGE TOP';
  font-size: 15px;
  color: #3f98ef;
  position: absolute;
  top: 2px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
.next-page{
   
}
.contact-form {
  padding-top: 100px;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 40px;
  padding-top:10px;
  padding-bottom: 10px;
  margin-bottom: 50px;
  background-color:;
}

input{
  width:400px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  font-size:18px;
  border:1px solid #dee7ec;
}

textarea{
  width:400px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  font-size:18px;
  border:1px solid #dee7ec;
}

.contact-submit{
  background:#dee7ec;
  color:#889eab;
}

.footer{
  background-color:ButtonHighlight;
  height:130px;
}



